// Catherine 

.pin-show-wrapper {
  height: 900px;
  width: 1000px;
  background: white;
  border-radius: 50px;
  margin: auto;
  box-sizing: border-box;
  box-shadow: 0px 0px 29px 16px rgba(244, 244, 244, 1);
  margin-top: 30px;
}

.pin-show-container {
  display: flex;
  flex-direction: row-reverse;
  height: 100%;
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  box-shadow: lightgray;
}

.pin-show-image {
  height: 900px;
  width: 480px;
}

.pin-show-item {
  height: 700px;
  width: 100%;
  margin: 0 auto;
  border-radius: 50px;
  padding-top: 10px;
  padding-right: 15px;
}

// .pin-show-text {
//   display: flex;
//   flex-direction: column;
//   align-items: flex-start; 
//   margin-bottom: 30px;
//   height: 900px;
//   width: 480px;
//   padding-left: 40px;
//   font-family: Arial, Helvetica, sans-serif;
//   letter-spacing: -1.4px;
// }

#pin-show-details {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 30px;
  height: 900px;
  width: 480px;
  padding-left: 40px;
  font-family: Arial,
  Helvetica,
  sans-serif;
  letter-spacing: -1.4px;
  margin-top: 20px;
}

#pin-show-details > h1 {
  font-size: 48pt;
  font-weight: bold;
  padding: 10px;
  letter-spacing: -2.5px;
}

#pin-show-details > a {
  cursor: pointer;
  text-decoration: underline;
  font-size: 14pt;
  padding: 10px;
}

#pin-show-details > p {
  font-size: 18pt;
  font-weight: normal;
  padding: 10px;
}

.pin-show-button-wrapper {
  position: fixed;
  top: 110px;
  left: 8px;
}

.are-you-sure {
  margin-top: 5px;
  font-style: italic;
  color: #E52B21;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10pt;
}

.pin-show.title {
  margin-top: 16px;
  font-size: 36px;
  font-weight: 700;
  text-align: left;
  text-decoration: none;
  color: #333;
}

//dropdown
#create-pinboard-container {
  right: 20px;
  stroke: rgb(239, 239, 239);
  top: 88px;
  position: absolute;
  background-color: #fff;
  color: #fff;
  // box-sizing: border-box;
  min-height: 40px;
  max-height: 90vh;
  // min-width: inherit;
  border: 1px solid;
  box-shadow: 0 3px 6px rgba(0,0,0,.18);
  // outline: none;
  // border-radius: 8px;
  z-index: 50; 
  // top: auto;
}

.xxx {
  // margin-left: 12px;
  // border-radius: 12px;
  // border: none;
  // outline: none;
  padding: 10px;
  margin: 15px;
  // -webkit-box-align: center;
  // display: inline-block;
  // align-items: center;
  // flex: 0 0 auto;
  // background-color: #e60023;
  // color: #e60023;
  height: 40px;
  width: 40px;
  background-color: transparent;
  justify-content: center;
  align-items: center;
  display: flex;
  border-radius: 50%;
  // line-height: normal;
  float: right;
  // border: #e60023;
  &:hover {
    background-color: #dbd9d9;
  }
};
