.login-form-container {
  margin: 16px;
  width: 370px;
  // width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 20px;
  overflow: hidden;
  background-color: #FFFFFF;
  font-family: Arial, Helvetica, sans-serif;
  box-shadow: 0 0 3px 2px #555;
  min-height: 400px;
  padding: 20px 10px 24px;
  align-items: center;
}

.session-messages > i {
  width: 100%;
  height: 80px;
  background-image: image_url('logo.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.login-form-box {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0px auto;
  position: relative;
  text-align: center;
  
}

.session-welcome {
  margin: 0;
  color: rgb(51, 51, 51);
  font-size: 36px;
  font-weight: 600;
  -webkit-font-smoothing: antialiased;
  letter-spacing: -1.2px;
  word-break: break-word;
  }

.session-form-add-space {
  padding: 10px;
}

.session-new-ideas {
  text-align: center;
  font-size: inherit;
  margin-bottom: 20px;
  margin-top: 5px;
}

.login-input {
  position: relative;
  justify-content: center;
  width: 58%;
  min-height: 30px;
  padding: 4px 20px;
  background-color: whitesmoke;
  border: solid 2px;
  border-color: lightgrey;
  border-radius: 20px;
}
        
// .login-input:focus {
//   border: 2px solid;
//   // border-color: #E60122;
//   transform: border-color .5s ease-in-out;
//   border-radius: 16px;
// }

.session-submit {
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
}

input[type="submit"i] {
  width: 73%;
  justify-content: center;
  color: #FFFFFF;
  height: 38px;
  padding: 0px 18px; 
  background: #E60122;
  transition: background 0.5s;
  border-radius: 20px;
  font-weight: bold;
  cursor: pointer;
  font-size: inherit;
  border-style: none;

}

.session-submit:hover {
  cursor: pointer;
  color: #dd5267;
}

.session-submit-demo {
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
}

.session-submit-demo > button {
  width: 73%;
  justify-content: center;
  color: #FFFFFF;
  height: 38px;
  padding: 0px 18px;
  background: #1977F2;
  transition: background 0.5s;
  border-radius: 20px;
  font-weight: bold;
  border-style: none;
  font-size: inherit;
}

.session-submit-demo:hover > button {
  cursor: pointer;
}

.switch-session-form {
  font-size: 12pt;
  display: flex;
  justify-content: center;
  font-weight: bold;
  padding-top: 4px;
}

.session-terms-message {
  font-size: 10pt;
  color: gray;
  display: flex;
  padding: 10px;
  justify-content: center;
  
}
.switch-session-form:hover {
  text-decoration: underline;
}

.session-errors {
  font-size: 12pt;
  padding: 3px;
  color: #E60122;
}

.session-or-message {
  display: flex;
  justify-content: center;
  font-weight: bold;
  align-items: center;
  justify-content: center; 
}

.first-page {
  display: flex;
  width: 100%;
  height: 600px;
  // background-color: brown;
  justify-content: center;
  align-items: center;
}
.login-inviting-container {
  //  margin: 16px;
  // max-width: 400px;
  // width: 200px;
  // flex-direction: column;
  // justify-content: center;
  // overflow: hidden;
  // background-color: rgb(151, 151, 249);
  // justify-content: center;
  // display: inline-block;
  display: flex;
  padding: 20px 10px 24px;
  width: 450px;
  min-height: 300px;
  min-width: 300px;
  align-items: baseline;
}
// .modal-child-text {
//   display: flex;
//   justify-content: space-around;
//   width: calc(100% - 400px);
//   width: 35vw;
//   margin-right: 100px;
//   display: flex;
//   flex-direction: column;
//   flex-wrap: wrap;
//   // margin-block-start: 1em;
//   // margin-block-end: 1em;
//   // margin-inline-start: 0px;
//   // margin-inline-end: 0px;
//   -webkit-font-smoothing: antialiased;
// }

.login-inviting-container > h1{
  // display: inline-block;
  // display: block;
  // width: 30%;
  color: white;
  margin-right: 20%;
  font-size: 50pt;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
  letter-spacing: -2.5px;
  line-height: 120%;
  margin-top: 30px;
}

